.contact-section {
  background-color: #3a3a3a;

  h2,
  p,
  label {
    color: white;
  }

  .send {
    display: inline-block;
    padding: 0.5em 1em;
    border: 2px solid #1a1a1a;
    border-radius: 4px;
    background-color: #1ae0ec;
    color: #1a1a1a;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
  }
}

.contact-section img {
  padding-right: 50px;
}

.mycontactIMg {
  height: 80px;
  background-color: #1ae0ec;

  .container {
    text-align: center !important;
  }

  .row {
    display: flex;
    align-items: center;
    height: 80px;
  }
}

@media (max-width: 576px) {
  .mycontactIMg {
    height: 160px;
  }
}

@media (max-width: 820px) and (min-width: 577px) {
  .mycontactIMg {
    height: 110px;
  }
}