header {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.profile-image {
    display: flex;
    flex-direction: row;
}

h2 {
    padding-top: 20px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 35px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: right;
}

nav ul li a {
    display: block;
    color: #000;
    font-size: 13pt;
    line-height: 2;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover {
    color: #1AE0EC;
}

.hamburger {
    color: #1AE0EC;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: bold;
    display: none;
}

.hamburger:checked~.nav-menu {
    display: flex;
}

@media (max-width: 576px) {

    nav,
    .hamburger {
        display: block;
        float: right;

    }

    .nav-menu {
        display: none;
        flex-direction: column;
        float: right;
    }

    .hamburger {
        display: block;
    }

}