.section-3 {
    background-color: #020253;
    display: grid;
    place-items: center;
    text-align: center;
h1{
    color: #0EE1DA;
}
p{
    color: #F9F9F9;
    margin-right: 10px;
    margin-left: 10px;
}
}